.about-sub-requirements {
  font-size: 12px;
  line-height: 18px;
  color: #999999;
  margin-bottom: 0px;
}
.space-top {
  padding-top: 6px;
}

.tagline-section {
  padding: 35px 0px;
  position: relative;
}
.about-upperSection {
  position: relative;
  padding-bottom: 36px;
  /* display: flex; */
}
.bio-head-wrap {
  display: flex;
  align-items: center;
}
.bio-head-img {
  width: 16px;
}
.full-row {
  min-width: 100%;
}

/* ------------------ video-biography -section ----------- */

.video-graphy {
  padding: 35px 0px;
  display: flex;
  flex-direction: column;
}
.video-description {
  font-size: 12px;
  line-height: 18px;
  color: #c6521e;
  margin-bottom: 0px;
  padding-left: 5px;
}
.bio-low-wrap {
  display: flex;
  align-items: center;
  padding-top: 19px;
}
.video-img-wrap {
  padding-left: 19px;
  display: flex;
  align-items: center;
}
.paste-vid-label-spacing {
  padding-top: 6px;
}
.select-new.css-b62m3t-container .css-1s2u09g-control {
  border-radius: 0px !important;
  min-height: 40px !important;
}

.select-new.css-b62m3t-container .css-1pahdxg-control {
  border-radius: 0px !important;
  min-height: 40px !important;
}
.select-new.css-b62m3t-container .css-26l3qy-menu {
  border-radius: 0px;
}
.form-group .txt-area {
  resize: none;
  min-height: 200px !important;
}

.form-group .select-new .css-1insrsq-control {
  background-color: #d6d6d6;
  border-radius: 0px;
}
.form-group
  .select-new
  .css-1insrsq-control
  .css-1hb7zxy-IndicatorsContainer
  .css-109onse-indicatorSeparator {
  display: none;
}
.remaining-text-wrap {
  position: relative;
}
.remaining-text {
  position: absolute;
  padding: 0px 8px 3px 0px;
  font-size: 12px;
  line-height: 18px;
  color: #999;
  right: 0px;
  bottom: 0px;
  margin: 0px;
}
.bio-low-wrap .dzu-dropzone {
  letter-spacing: 0.6px;
  color: #ffffff !important;
  text-transform: uppercase;
  opacity: 1;
  background-color: #c6521e;
  padding: 9px 27px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top-right-radius: 37px;
  border-bottom-right-radius: 37px;
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  font-family: "solitaire-mvb-pro";
  overflow: hidden;
  width: 147px;
  min-height: 34px;
}
.bio-low-wrap .dzu-dropzone .drag-info {
  color: #ffffff;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0px;
}
/* .bio-low-wrap .dzu-dropzone .dzu-previewContainer {
  display: none;
}
.bio-low-wrap .dzu-dropzone .dzu-inputLabelWithFiles {
  display: none;
} */
