.signIn-wrapper {
  display: flex;
  padding-bottom: 100px;
}
.left-img {
  position: relative;
}
.left-img::after {
  position: absolute;
  content: "signing up is not as difficult as her word-problem";
  font-size: 36px;
  line-height: 44px;
  font-family: "chantal";
  max-width: 597px;
  left: 95px;
  right: 95px;
  text-align: center;
  top: 45px;
}
