.personal-sec-wrap {
  margin: 60px 0px;
}
.personal-section {
  display: flex;
  /* padding: 45px; */
}
.personal-wrap {
  position: relative;
  padding-bottom: 40px;
}
.underline::after {
  width: 100%;
  content: "";
  border-top: 1px solid #999999;
  position: absolute;
  bottom: 0px;
}

.acc-header .accordion-button {
  height: 44px;
  background-color: #c6521e;
  border-radius: 0px !important;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  position: relative;
}
.acc-header .accordion-button:not(.collapsed) {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  height: 44px;
  background-color: #c6521e;
}
.acc-header .accordion-button:focus {
  border: none !important;
  box-shadow: none !important;
}
.acc-item {
  border: none !important;
  outline: none !important;
}
.acc-header .accordion-button::after {
  background-image: url("../../assets/personalSection/downarrow.png");
  position: absolute;
  background-size: auto;
  top: 17px;
  right: 33px;
  transition: 200ms;
}
.acc-header .accordion-button:not(.collapsed)::after {
  background-image: url("../../assets/personalSection/downarrow.png");
  transform: rotate(180deg);
  top: 8px;
}
.acc-header {
  text-transform: capitalize;
  font-size: 16px;
  line-height: 21px;
}
.acc-body {
  padding: 45px 50px !important;
  background-color: #f4efe6;
}
.heading {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: #333333;
  font-family: "solitaire-mvb-pro";
}
/* -------------- input field --------------  */
.input-field {
  display: flex;
  flex-direction: column;
  max-width: 522px;
}
.input-att {
  outline: none !important;
  border: none !important;
  min-height: 40px !important;
  padding-left: 17px !important;
  border-radius: 0px !important;
}
.input-att.form-control:disabled {
  background-color: #d6d6d6;
  opacity: 1;
}
.input-field .form-group input {
  font-size: 14px;
  color: #999999;
  line-height: 19px;
}
.input-field .form-group input[type="text"]:focus,
.input-field .form-group [type="text"].form-control:focus {
  box-shadow: none;
}
.input-label {
  font-size: 16px !important;
  color: #666666 !important;
  line-height: 20px !important;
  padding-bottom: 10px !important;
  margin-bottom: 0px !important;
  padding-right: 3px !important;
  font-weight: 200 !important;
  font-family: "solitaire-mvb-pro" !important;
}
.input-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 15px !important;
  /* flex-direction: column; */
}
.input-wrapper .css-b62m3t-container {
  width: 100%;
}
.input-wrapper .react-calendar__tile--active {
  background: #c6521e !important;
}
.input-wrapper .react-calendar__tile--now {
  background: #e9e9e9 !important;
}
.input-wrapper .react-date-picker__inputGroup__input:invalid {
  background: transparent !important;
}
.input-wrapper .react-date-picker__inputGroup__input {
  border: none !important;
  outline: none !important;
  font-size: 14px;
  line-height: 19px;
  /* padding: 0px !important; */
  font-weight: 100;
  font-family: "solitaire-mvb-pro";
}
.input-wrapper .react-date-picker__inputGroup__leadingZero {
  border: none !important;
  outline: none !important;
  font-size: 14px;
  line-height: 19px;
  font-family: "solitaire-mvb-pro";
}
.input-wrapper .react-date-picker__wrapper {
  padding: 0px 17px;
  border: none;
}
.input-wrapper .react-date-picker {
  background: #f9f8f7 !important;
}
.input-wrapper .react-date-picker__clear-button {
  display: none;
}
.box-one {
  max-width: 522px;
}
.p-0 {
  padding-top: 0px !important;
}

.input-field input[type="radio"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  margin: 0;
}
.radio-button .male-checkbox .form-check-label {
  position: relative;
  font-size: 14px;
  color: #999999;
  cursor: pointer;
  padding-left: 30px;
}
.radio-button .male-checkbox .form-check-label::before {
  content: "";
  border: 1px solid #d5d5d5;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.radio-button .male-checkbox .form-check-label::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 5px;
  top: 5px;
  background: #c6521e;
  border-radius: 50%;
  opacity: 0;
}

.radio-button
  .male-checkbox
  .form-check-input:checked
  ~ .form-check-label::after {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

/* ----  */
.radio-button2 .female-checkbox .form-check-label {
  position: relative;
  font-size: 14px;
  color: #999999;
  cursor: pointer;
  padding-left: 30px;
}
.radio-button2 .female-checkbox .form-check-label::before {
  content: "";
  border: 1px solid #d5d5d5;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.radio-button2 .female-checkbox .form-check-label::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 5px;
  top: 5px;
  background: #c6521e;
  opacity: 0;
  border-radius: 50%;
}

.radio-button2
  .female-checkbox
  .form-check-input:checked
  ~ .form-check-label::after {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.small-field {
  min-width: 246px !important;
}
.label-span-wrap {
  display: flex;
}
.label-span-wrap label {
  font-size: 18px;
  line-height: 30px;
  color: #333333;
  font-weight: 600;
  padding-right: 3px;
}
.label-span-wrap img {
  width: 16px;
  height: 18px;
  margin-top: 3px;
}

.right-box {
  /* padding-left: 10px; */
  padding-top: 35px;
}
.avatar-wrap {
  display: flex;
}
.avatar-wrap > div > div {
  overflow: hidden !important;
  position: relative;
}
.crop-img {
  height: 150px;
  width: 150px;
  margin-left: 66px;
  background: #f9f8f7 !important;
  border-radius: 50%;
}

/* ---------------------------identification------------------------ */

.identification {
  padding-top: 35px;
  padding-bottom: 40px;
  position: relative;
}
.column-one .dzu-dropzone {
  min-height: 200px;
  overflow: unset !important;
  border: 1px dashed #999999;
  border-radius: 0px;
  margin: 0px;
  margin-top: 15px;
  max-width: 522px;
}
.drag-info {
  font-size: 15px;
  line-height: 20px;
  color: #999999;
  text-align: center;
  font-weight: normal;
}
.drag-info > span {
  color: #c6521e;
}
.col-gap {
  /* margin-left: 10px !important; */
  padding-bottom: 10px;
}
.identification-row-gap {
  padding-top: 35px !important;
}
.img-gap {
  padding-left: 10px;
}

/* ----------Contact Details section----------- */

.contact {
  padding-top: 35px;
  padding-bottom: 40px;
  position: relative;
}
.contact-input-gap {
  padding-top: 15px;
}

.custom-row {
  margin-left: -25px !important;
  margin-right: -25px !important;
}
.custom-gutter {
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.custom-phone {
  min-width: 522px;
  border: 0px;
  border-radius: 0px;
  background-color: #f9f8f7;
  min-height: 40px;
}
.custom-phone > div {
  min-height: 40px;
}
.custom-phone > div > div .PhoneInputCountryIcon {
  display: flex;
  background-color: #f9f8f7;
  align-items: center;
  /* max-height: 20px; */
}
/* .custom-phone > div > div .PhoneInputCountryIcon .PhoneInputCountryIconImg {
  width: 20px;
  background: white;
} */
.custom-phone > div > input {
  min-width: calc(100% - 44px);
  border: none;
  padding-left: 10px;
  outline: none;

  font-size: 14px;
  color: #999999;
  line-height: 19px;
}
.custom-phone > div > input :focus {
  outline: none;
  border: none;
}

/* ------------- disabled button ----------------  */

.disabled-phone > div .PhoneInputInput {
  background-color: #d6d6d6 !important;
}
.disabled-phone > div > div .PhoneInputCountrySelect {
  background-color: #d6d6d6 !important;
}
.disabled-phone > div > div .PhoneInputCountryIcon {
  background-color: #d6d6d6 !important;
}

/* .disabled-phone > div > div .PhoneInputCountryIcon {
  background-color: #d6d6d6;
} */

.react-phone.PhoneInput .PhoneInputCountry .PhoneInputCountryIcon {
  width: 24px;
  background: white;
  padding-left: 8px;
}

/* .react-phone.PhoneInput .PhoneInputCountry .PhoneInputCountrySelect {
  position: relative;
  opacity: 0;
}
.react-phone.PhoneInput .PhoneInputCountry {
  position: relative;
}
.react-phone.PhoneInput .PhoneInputCountry .PhoneInputCountrySelect::after {
  content: "";
  position: absolute;
  border-left-width: 5px;
  border-right-width: 5px;
  border-top-width: 5px;
  border: 2px solid black;
  top: 0px;
} */
/* ----------add Details section----------- */

.address {
  padding-top: 37px;
  padding-bottom: 50px;
}
.checkbox-label {
  color: #666666 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  font-weight: 100 !important;
}
.rem-pass-address {
  padding-left: 24px !important;
  padding-top: 0px !important;
}
.info {
  font-size: 12px;
  line-height: 18px;
  color: #707070;
}
.info span {
  color: #c6521e;
  cursor: pointer;
}
.custom-property {
  max-height: 34px;
  border: none;
  outline: none;
}
.add-button-wrap {
  display: flex;
  justify-content: flex-end;
}
.overlay-style {
  min-width: 300px !important;
}
.overlay-style .tooltip-arrow {
  visibility: hidden;
}
.overlay-style .tooltip-inner {
  background-color: white !important;
  border-radius: 0px;
  min-width: 100%;
  padding-left: 15px;
  text-align: unset;
}
.overlay-style .tooltip-inner h6 {
  color: black;
  margin: 0px;
  font-size: 12px;
  padding-bottom: 5px;
}
.overlay-style .tooltip-inner p {
  color: #c6521e;
  margin: 0px;
  font-size: 12px;
}

.radio-button-wrap {
  display: flex;
}
.radio-button-wrap .radio-button .form-check {
  padding-left: 0px !important;
}
