.qualification-wrap {
  /* padding: 45px 50px; */
}
.top-spacing {
  margin-top: 30px !important;
}
.custom-switch.form-switch .form-check-input {
  width: 47px !important;
  height: 22px !important;
  border: 0px !important;
  box-shadow: none !important;
  background-image: url("../../assets/Qualification/white_circle.png");
  background-repeat: no-repeat;
  background-color: #999999;
  background-size: 14px;
  background-position-x: 5px;
  cursor: pointer;
  background-position-y: 4px;
}
.custom-switch.form-switch .form-check-input:focus {
  background-image: url("../../assets/Qualification/white_circle.png");
  background-repeat: no-repeat;
  background-color: #999999;
  background-size: 14px;
  box-shadow: none !important;
  background-position-y: 4px;
}

.custom-switch.form-switch .form-check-input:checked {
  background-image: url("../../assets/Qualification/white_circle.png");
  background-position-x: 28px;
  background-color: #c6521e !important;
  background-position-y: 4px;
}
.align-content {
  padding-top: 35px;
}
.custom-switch label {
  padding-left: 5px;
  padding-top: 3px;
  cursor: pointer;
}
.date-field .react-date-picker {
  min-height: 40px;
}
.date-field .react-date-picker--disabled {
  background-color: #d3d3d3 !important;
}
