.feature-video {
  width: 100%;
  /* height: 750px; */
  position: relative;
  /* margin-bottom: 90px; */
  /* background-color: #888; */
  padding-bottom: 127px;
}
.video {
  width: 100%;
  height: 100%;
}
.feature-banner h6 {
  position: absolute;
  bottom: 0px;
  left: 20px;
  font-weight: bold;
  line-height: 27px;
  font-size: 20px;
  columns: #707070;
}
.inner-container {
  display: flex;
  justify-content: center;
  max-width: 100vw !important;
}
.video-details {
  position: absolute;
  /* right: 50px; */
  bottom: 200px;
  z-index: 3;
  width: 100%;
}
.video-data-container {
  min-width: 1225px;
}
.video-data-container h6 {
  font-family: "Chantal";
  font-size: 40px;
  line-height: 49px;
  color: #ffffff;
}
.video-data-container p:last-child {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #ea9500;
  padding-top: 10px;
}
.video-body {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  max-width: 514px;
  padding-top: 10px;
}
