.nav-wrapper {
  padding: 17px 0px;
  display: flex;
  justify-content: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.explore-heading {
  margin: 0px;
  color: #666666;
  text-transform: uppercase;
  cursor: pointer;

  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: "solitaire-mvb-pro";
}
.explore-heading:hover {
  color: #c6521e;
  cursor: pointer;
}
.nav-right {
  display: flex;
}
.icon {
  cursor: pointer;
  padding-left: 210px;
}
.nav-right p {
  letter-spacing: 0.6px;
  color: #666666;
  text-transform: uppercase;
  opacity: 1;
  cursor: pointer;
}
.button-primary {
  text-decoration: none;
  letter-spacing: 0.6px;
  color: #ffffff !important;
  text-transform: uppercase;
  opacity: 1;
  background-color: #c6521e;
  padding: 9px 27px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top-right-radius: 37px;
  border-bottom-right-radius: 37px;
  cursor: pointer;

  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  font-family: "solitaire-mvb-pro";
}
.button-primary:hover {
  color: black !important;
}
.nav-right-inner {
  padding-right: 21px;
  display: flex;
  cursor: pointer;
  align-items: center;
}
.nav-right-inner a {
  margin: 0px;
  text-decoration: none;
  color: #666666;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  font-family: "solitaire-mvb-pro";
}
.nav-right-inner a:hover {
  color: #c6521e;
  cursor: pointer;
}
.dropdown {
  padding-right: 42px;
}
