.signIn-form-wrap {
  padding: 0px 58px;
  display: flex;
  background-color: #f4efe6;
  flex-direction: column;
  justify-content: center;
}
.form-top {
  display: flex;
}
.form-passive {
  background-color: #f5baa6;
  display: flex;
  min-width: 159px;
  align-items: center;
  min-height: 40px;
  transition: 300ms;
}
.form-passive:nth-child(odd) {
  border-left: 1px solid #f4efe6;
  border-right: 1px solid #f4efe6;
}
.form-passive img {
  /* padding-left: 15px; */
  padding: 4px;
  padding-left: 15px;
  padding-right: 0px;
}
.form-passive p {
  font-size: 14px;
  line-height: 19px;
  padding-left: 22px;
  padding-right: 40px;
  color: #ffffff;
  font-family: "solitaire-mvb-pro";
  margin: 0;
  text-transform: uppercase;
}
.form-passive:hover {
  background-color: #ea9500 !important;
}
.form-passive:active {
  background-color: #ea9500 !important;
}
.form-active {
  background-color: #ea9500 !important;
}
.input-wrap {
  padding-top: 20px;
}
.top {
  min-width: 225px;
}
.top input {
  max-width: 100px !important;
}
.name-inputs {
  display: flex;
  justify-content: space-between;
}
.signIn-input input {
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 19px;
  color: #999999;
  /* width: 100%; */
  min-width: 90%;
  font-family: "solitaire-mvb-pro";
}
.signIn-input {
  padding: 12px 17px;
  max-height: 44px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* overflow: hidden; */
}

.signIn-input input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-select-group {
  display: flex;
  width: 100%;
}

/* -------------------------react select ---------------  */
.target2 {
  font-size: 14px;
  line-height: 19px;
  color: #999999;
  font-family: "solitaire-mvb-pro";
}
.target2.css-b62m3t-container .css-1s2u09g-control {
  border-radius: 20px !important;
  min-height: 44px !important;
  border-color: white;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}
.target2.css-b62m3t-container .css-1pahdxg-control {
  border-radius: 20px !important;
  min-height: 44px !important;
  border: 0px !important;
  outline: none !important;
  border-color: white;
  box-shadow: none !important;
}
.target2.css-b62m3t-container
  .css-1s2u09g-control
  .css-1hb7zxy-IndicatorsContainer
  .css-1okebmr-indicatorSeparator {
  display: none !important;
}
.target2.css-b62m3t-container
  .css-1pahdxg-control
  .css-1hb7zxy-IndicatorsContainer
  .css-1okebmr-indicatorSeparator {
  display: none !important;
}

.target2.css-b62m3t-container .css-1s2u09g-control .css-319lph-ValueContainer {
  padding-left: 20px !important;
}
.target2.css-b62m3t-container .css-1pahdxg-control .css-319lph-ValueContainer {
  padding-left: 20px !important;
}

.target2.css-b62m3t-container
  .css-26l3qy-menu
  .css-4ljt47-MenuList
  .css-1n7v3ny-option {
  background-color: #f4efe6;
}
.target2.css-b62m3t-container
  .css-26l3qy-menu
  .css-4ljt47-MenuList
  .css-9gakcf-option {
  background-color: #c6521e;
}
.target2.css-b62m3t-container
  .css-1pahdxg-control
  .css-319lph-ValueContainer
  .css-qc6sy-singleValue {
  font-size: 14px;
  line-height: 19px;
  color: #999999;
  font-family: "solitaire-mvb-pro";
}
/* -------------------------react phone number ---------------  */

.react-phone.PhoneInput .PhoneInputCountry .PhoneInputCountrySelect {
  width: 20px;
  border: none !important;
  outline: none !important;
  color: #999999;
}
.react-phone.PhoneInput .PhoneInputCountry .PhoneInputCountryIcon {
  width: 20px;
}
.react-phone.PhoneInput .PhoneInputCountry {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.react-phone {
  display: flex;
}
.sign-up-btn {
  min-height: 44px;
  border: none;
  outline: none;
  width: 100%;
}
.terms {
  font-size: 12px;
  padding-top: 7px;
  line-height: 16px;
  color: #666666;
}
.terms span {
  color: #c6521e;
  cursor: pointer;
}

.error {
  margin: 0px;
  font-size: 14px;
  padding-top: 4px;
  padding-left: 20px;
  color: red;
  font-family: "solitaire-mvb-pro";
}
