body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  margin: 0px;
  font-family: "solitaire-mvb-pro";
}

code {
  font-family: "solitaire-mvb-pro";
}
.container {
  max-width: 1225px !important;
  width: 100%;
  padding: 0px 15px !important;
  box-sizing: border-box !important;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
a:hover {
  color: #c6521e;
  cursor: pointer;
}
a {
  /* font-family: "Solitaire MVB Pro"; */
  text-decoration: none !important;
}
