.banner {
  display: flex;
  justify-content: center;
  background: conic-gradient(
    from 180deg at 50% 0%,
    rgba(234, 224, 215, 1) 0%,
    rgba(234, 224, 215, 1) 14%,
    rgba(234, 224, 215, 1) 29%,
    rgba(244, 239, 230, 1) 54%,
    rgba(244, 239, 230, 1) 71%,
    rgba(244, 239, 230, 1) 100%
  );
}
.left-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding-top: 20px; */
}
.right-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* padding-top: 20px; */
}
.status-img {
  height: 35px;
}
.nav {
  display: flex;
  /* flex-direction: column; */
}
.left-banner {
  background-color: #eae0d7;
}
.left-banner ul {
  display: flex;
  margin: 0px;
  padding: 0px;
  padding-top: 6px;
  padding-bottom: 20px;
}
.left-banner ul li {
  text-decoration: none;
  list-style: none;
  padding-right: 80px;
}
.left-banner ul li p {
  margin: 0px;
  letter-spacing: 0.6px;
  color: #666666;
  text-transform: uppercase;
}

.right-banner {
  background-color: #f4efe6;
}
.right-banner ul {
  display: flex;
  margin: 0px;
  padding: 0px;
  padding-top: 6px;
  padding-bottom: 20px;
}
.right-banner ul li {
  text-decoration: none;
  list-style: none;
}
.right-banner ul li p {
  margin: 0px;
  letter-spacing: 0.6px;
  color: #666666;
  text-transform: uppercase;
}
.live-img {
  width: 33px;
}
.banner-icons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;
}
.banner-wrap {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.banner-bottom {
  display: flex;
  justify-content: space-between;
}
